.list-head {
  display: flex;
  gap: 2%;
  flex-direction: row;
  font-weight: 625;
  color: #26343f;
}
.list-cover {
  width:8%
}
.row-entry {
  display: flex;
  height: 70px;
  gap: 20px;
  cursor: pointer;
}
.list-container {
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  box-shadow: 0 0 10px rgb(224, 224, 224);
  border-radius: 5px;
  width: 70%;
  max-width: 1170px;
  min-width: 400px;
  padding:15px;
  min-height: 100px;
  gap: 10px;
}
.title-n-row {
  display: flex;
  text-transform: capitalize;
  width: 70%;
  margin: 0;
  align-items: center;
}
.list-entries {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 15% 10% 15%;
}
.list h2{
align-self: flex-start;
padding: 0 10%;
color: #26343f;
font-weight: 500;
}
.list-n-row{
  border-radius: 5px;
  width: 52px;
}
.score-txt {
  width: 10%;
}
