.list-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-cover{
  width: 100px;
}
.row-entry {
  display: flex;
  height: 70px;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
}
.list-container {
  display: flex;
  flex-direction: column;
  background-color: #FBFBFB;
  box-shadow: 0 0 10px rgb(224, 224, 224);
  border-radius: 5px;
  width: 70%;
  max-width: 1170px;
  min-width: 400px;
  padding:15px;
  min-height: 100px;
  gap: 10px;
}
.list-comp{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.title-n-row {
  text-transform: capitalize;
  max-width: 160px;
  margin: 0;
}
.list-entries {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 15% 10% 15%;
}
.list h2{
align-self: flex-start;
padding: 0 10%;
color: #26343f;
font-weight: 500;
}
.list-n-row{
  border-radius: 5px;
  width: 52px;
}
.popup-overlay {
  background: rgba(10,10,10,.1);
}
