/* TODO Add site wide styles */
body {
  margin: auto;
  box-sizing: border-box;
  font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background-color: #e5ebf1;
  --nav-height: 75px;
  padding-top: var(--nav-height);
  /* image-rendering: -webkit-optimize-contrast; */
}
#root{
  /* display: flex; */
  /* flex-direction: column; */
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}
