.wide {
  height: 400px;
  width: 100%;
  background-color: #1e2034;
  z-index: -1;
}
.profile-nav-pp {
  height: 150px;
  width: 150px;
}
.profile-nav {
  width: 100%;
  background-color: white;
  height: 50px;
  box-shadow: 0px 10px 20px #dee4ec;
  z-index: -101;
}
.profile-nav-user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -150px;
  padding-left: 10%;
}
.profile-nav-username {
  color: white;
  font-size: large;
  font-weight: 600;
}
.following {
  width: 54px;
  background-color: #3577ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 5px 9px;
  cursor: pointer;
}
.follow {
  width: 40px;
  background-color: grey;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 5px 9px;
  cursor: pointer;
}
